body {
  padding: 80px 40px;
  background-color: beige;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
}
main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 6px;
  padding: 6px;
  max-width: 900px;
  margin: auto;
}

main * {
  background-color: rgba(91, 91, 121);
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}
header,
footer {
  grid-column: 1 / -1;
}
.nav_bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  overflow: hidden;
  column-gap: 10px;
}
ul.nav_bar li.home {
  margin-right: auto;
  text-align: center;
}
ul.nav_bar {
  margin: auto;
}
ul.nav_bar li a {
  display: block;
  padding: 8px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
}
/* ul.nav_bar li.active a {
  background-color: beige;
  color: black;
  /* margin-bottom: 2px;
} */
ul.nav_bar li a:hover {
  color: black;
  background-color: beige;
}
article {
  grid-column: 1 / 3;
}
@media (max-width: 600px) {
  main {
    grid-template-columns: auto auto;
  }
  aside {
    grid-column: span 2;
  }
  .nav_bar {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .nav_bar .home {
    text-align: center;
    width: 100%;
  }
  ul.nav_bar {
    padding: 0;
  }
  ul.nav_bar li.home {
    line-height: 20px;
  }
}
